
@{
    ViewBag.Title = "Forgot password confirmation";
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="/Styles/Styles.css">
</head>
<body>
    <div class="login-page">
        <div class="form">
            <div>
                <p>
                    Please check your email to reset your password.
                </p>
            </div>
        </div>
    </div>
</body>
</html>